@using TinyMce.MvcSample.Models
@model TinyMce.MvcSample.Models.BrowseModel

@{
    ViewBag.Title = "Browse all sample documents";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
#licenseBlock, #browseableFolder, #createNew {
    margin-left: 10pt;
    margin-top: 10pt;
}

#createNew {
    font-size: larger;
}

#sampleDocsTbl thead tr td {
    font-weight: bolder;
    font-size: larger;
}

#sampleDocsTbl, #sampleDocsTbl td {
    border-collapse: collapse;
    border: 0.75px solid black;
    margin: 5pt;
    font-size: 12pt;
    padding: 5pt;
}
</style>

<p id="browseableFolder">
    Folder:
    @Model.BrowseableFolder
</p>

<p id="createNew">
    @Html.ActionLink("Create new document from scratch", "PrepareNew", "Home")
</p>

<table id="sampleDocsTbl">
    <thead>
    <tr>
        <td style="width:50%">
            Filename
        </td>
        <td>
            Last modification date
        </td>
        <td>
            Byte size
        </td>
    </tr>
    </thead>
    <tbody>
        @foreach (SampleDocumentInfo oneDoc in Model.Documents)
        {
            <tr>
                <td>
                    @Html.ActionLink(oneDoc.Filename, "EditExistent", new {fullPath = oneDoc.FullPath}, new { target = "_blank" })
                </td>
                <td>
                    @oneDoc.LastModificationDate
                </td>
                <td>
                    @oneDoc.Size
                </td>
            </tr>
        }
    </tbody>
</table>
